// System Clock (27MHz)
IO_LOC "clk" 4;
IO_PORT "clk" PULL_MODE=UP;

IO_LOC "led[0]" 15;
IO_LOC "led[1]" 16;
IO_LOC "led[2]" 17;
IO_LOC "led[3]" 18;
IO_LOC "led[4]" 19;
IO_LOC "led[5]" 20;
IO_PORT "led[0]" PULL_MODE=UP DRIVE=8;
IO_PORT "led[1]" PULL_MODE=UP DRIVE=8;
IO_PORT "led[2]" PULL_MODE=UP DRIVE=8;
IO_PORT "led[3]" PULL_MODE=UP DRIVE=8;
IO_PORT "led[4]" PULL_MODE=UP DRIVE=8;
IO_PORT "led[5]" PULL_MODE=UP DRIVE=8;

IO_LOC "lcd_rs" 29;
IO_LOC "lcd_rw" 30;
IO_LOC "lcd_e" 31;
IO_PORT "lcd_rs" PULL_MODE=UP DRIVE=8;
IO_PORT "lcd_rw" PULL_MODE=UP DRIVE=8;
IO_PORT "lcd_e" PULL_MODE=UP DRIVE=8;

IO_LOC "shift_ser" 28;
IO_LOC "shift_rclk" 25;
IO_LOC "shift_srclk" 26;
IO_PORT "shift_ser" PULL_MODE=UP DRIVE=8;
IO_PORT "shift_srclk" PULL_MODE=UP DRIVE=8;
IO_PORT "shift_rclk" PULL_MODE=UP DRIVE=8;

IO_LOC "page_back" 88;
IO_LOC "page_forward" 87;
IO_PORT "page_back" PULL_MODE=UP;
IO_PORT "page_forward" PULL_MODE=UP;

IO_LOC "ena" 42;
IO_LOC "in1" 41;
IO_LOC "in2" 56;
IO_LOC "enb" 54;
IO_LOC "in3" 51;
IO_LOC "in4" 48;
IO_PORT "ena" PULL_MODE=UP DRIVE=8;
IO_PORT "in1" PULL_MODE=UP DRIVE=8;
IO_PORT "in2" PULL_MODE=UP DRIVE=8;
IO_PORT "enb" PULL_MODE=UP DRIVE=8;
IO_PORT "in3" PULL_MODE=UP DRIVE=8;
IO_PORT "in4" PULL_MODE=UP DRIVE=8;

IO_LOC "up" 55;
IO_LOC "down" 49;
IO_LOC "left" 86;
IO_LOC "right" 79;
IO_PORT "up" IO_TYPE=LVCMOS33;
IO_PORT "down" IO_TYPE=LVCMOS33;
IO_PORT "left" IO_TYPE=LVCMOS33;
IO_PORT "right" IO_TYPE=LVCMOS33;

IO_LOC "enc_left_1" 73;
IO_LOC "enc_left_2" 74;
IO_LOC "enc_right_1" 75;
IO_LOC "enc_right_2" 85;
IO_PORT "enc_left_1" IO_TYPE=LVCMOS33;
IO_PORT "enc_left_2" IO_TYPE=LVCMOS33;
IO_PORT "enc_right_1" IO_TYPE=LVCMOS33;
IO_PORT "enc_right_2" IO_TYPE=LVCMOS33;
