// System Clock (27MHz)
IO_LOC "clk" 4;
IO_PORT "clk" PULL_MODE=UP;

IO_LOC "led[0]" 15;
IO_LOC "led[1]" 16;
IO_LOC "led[2]" 17;
IO_LOC "led[3]" 18;
IO_LOC "led[4]" 19;
IO_LOC "led[5]" 20;
IO_PORT "led[0]" PULL_MODE=UP DRIVE=8;
IO_PORT "led[1]" PULL_MODE=UP DRIVE=8;
IO_PORT "led[2]" PULL_MODE=UP DRIVE=8;
IO_PORT "led[3]" PULL_MODE=UP DRIVE=8;
IO_PORT "led[4]" PULL_MODE=UP DRIVE=8;
IO_PORT "led[5]" PULL_MODE=UP DRIVE=8;

IO_LOC "lcd_rs" 27;
IO_LOC "lcd_rw" 28;
IO_LOC "lcd_e" 25;
IO_LOC "lcd_db[0]" 26;
IO_LOC "lcd_db[1]" 29;
IO_LOC "lcd_db[2]" 30;
IO_LOC "lcd_db[3]" 31;
IO_LOC "lcd_db[4]" 72;
IO_LOC "lcd_db[5]" 71;
IO_LOC "lcd_db[6]" 53;
IO_LOC "lcd_db[7]" 52;
IO_PORT "lcd_rs" PULL_MODE=UP DRIVE=8;
IO_PORT "lcd_rw" PULL_MODE=UP DRIVE=8;
IO_PORT "lcd_e" PULL_MODE=UP DRIVE=8;
IO_PORT "lcd_db[0]" PULL_MODE=UP DRIVE=8;
IO_PORT "lcd_db[1]" PULL_MODE=UP DRIVE=8;
IO_PORT "lcd_db[2]" PULL_MODE=UP DRIVE=8;
IO_PORT "lcd_db[3]" PULL_MODE=UP DRIVE=8;
IO_PORT "lcd_db[4]" PULL_MODE=UP DRIVE=8;
IO_PORT "lcd_db[5]" PULL_MODE=UP DRIVE=8;
IO_PORT "lcd_db[6]" PULL_MODE=UP DRIVE=8;
IO_PORT "lcd_db[7]" PULL_MODE=UP DRIVE=8;

IO_LOC "btn" 88;
IO_PORT "btn" PULL_MODE=UP;
